body {
  text-align: center;
  font-family: Arial;
  background-color: antiquewhite;
}

body > div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  flex-direction: column;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

h1{
    margin-top: 0;
}


.winner {
  color: chartreuse;
}

.draw {
  color: goldenrod;
}

#settings,
#numInput {
  color: grey;
}

#numInput {
  width: 50px;
  border-radius: 5px;
  background-color: transparent;
  border: 0;
  font-weight: bold;
  font-size: medium;
}

button {
  width: 100px;
  height: 20px;
  border: 0;
  border-radius: 5px;
}

button#reset {
  background: rgb(224, 103, 103);
  color: #fff;
  height: 30px;
}
